.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    padding: 20px;
  }
  
  .title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .gameList {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
  }
  
  .gameItem {
    background-color: #444;
    color: white;
    padding: 15px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .gameItem:hover {
    background-color: #555;
  }
  .selected {
    background-color: #00aaff;
  }
  .selected:hover {
    background-color: #00aaff; /* Maintain selected color on hover */
  }
  
  .confirmButton {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .confirmButton:hover{
    background-color: #007bff9d;
  }
  .confirmButton:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;  
    display: flex;
    flex-direction: column;
  }
  
  .teamColumns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .teamColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .teamColumn h4 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .playersSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .teamPlayers {
    width: 45%;
  }
  
  .teamPlayers h3 {
    color: white;
    text-align: center;
  }
  
  .playerList label {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between checkbox and player name */
  }
  
  .playerList {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  .playerList input[type="checkbox"] {
    margin: 0;
  }
  .playerList li {
    padding: 5px 0;
  }
  
  .cancelButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .teams {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .teamButton {
    padding: 20px 40px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .teamButton:hover {
    background-color: #555; 
  }
  .selected {
    background-color: #00aaff;
  }
  .selected:hover {
    background-color: #00aaff; /* Maintain selected color on hover */
  }
  .resetWrapper {
    display: fixed;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-top: 20px;
  } 
  
  .resetButton {
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    flex:1
  }
  
  .resetButton:hover {
    background-color: #d33;
  }
