.container {
  padding: 15px;
  background-color: #333;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.teamScores {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.playersSection {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  overflow-y: auto;
}

.column {
  width: 45%;
  max-height: 80vh;
}

.playerList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 70vh;
  overflow-y: auto;
}

.playerItem {
  padding: 10px;
  background-color: #444;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Stack player info and counter vertically */
  justify-content: space-between;
}

.playerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 10px;
}

.score {
  margin-left: 10px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  margin: 0 10px;
}

.counter span {
  width: 15px;
  text-align: center;
  font-size: 12px;
}
.resetButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.resetButton:hover {
  background-color: #d32f2f;
}

.backButton {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.backButton:hover {
  background-color: #0056b3;
}
.totalPoints {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
